{{ $text := .Get "text"}}
{{ $exists := false }}
{{ with .Page.Store.Get "definitions" }}
{{ $exists = true }}
{{ else }}
{{/* first call, so definitions is 1 */}}
{{ .Page.Store.Set "definitions" 1 }}
{{ end }}
{{ if $exists }}
{{ .Page.Store.Add "definitions" 1 }}
{{ end }}
{{ if isset .Page.Params "subsection" }}
<p><b>Definition {{ .Page.Params.chapter }}.{{ .Page.Params.section }}.{{ .Page.Params.subsection }}.{{
                                .Page.Store.Get "definitions" }}.</b>
                {{ .Inner | .Page.RenderString }}
</p>
{{ else }}
<p><b>Definition {{ .Page.Params.chapter }}.{{ .Page.Params.section }}.{{.Page.Store.Get "definitions" }}.</b>
                {{$text}}
</p>
{{ end }}
